<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/shop.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <%- include('../include/navigation.ejs') %>
    <main class="centered">
      <h1><%= product.title %></h1>
      <hr />
      <div class="card__image">
        <img src="<%= product.imageURL %>" alt="<%= product.title %>" />
      </div>
      <div class="card__content">
        <h2 class="product__price">$<%= product.price %></h2>
        <p class="product__description"><%= product.description %></p>
        <%- include('../include/add-to-cart.ejs') %>
      </div>
    </main>
  </body>
</html>
